button.iBtn {
    border-radius: 20px;
    border: 2px solid #000;
    background: #FFF;
    width: 70px;
    height: 40px;
    
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.52px;
    text-transform: uppercase;

    cursor: pointer;
}

button.blackBtn{
    border-color: #000;
    background: #000;
    color: #FFF;
}

.wideBtn {
    width: 100%;
}